/*****************************/
/** BELLOW THAN 954px **/

@media (max-width: 60em) {
  .card {
    grid-template-columns: 1fr;
  }
} /*****************************/

/*****************************/
/** BELLOW THAN 770px **/

@media (max-width: 49em) {
  .card {
    width: 60%;
  }

  .card > div {
    padding: 1.6rem;
  }
} /*****************************/

/*****************************/
/** BELLOW THAN 534px **/

@media (max-width: 34em) {
  .card {
    width: 100%;
    margin: 0;
  }

  .card-score {
    border-radius: 0 0 22px 22px;
  }
} /*****************************/
